.ToggleButton-btn {
  display: flex;
  border: none;
  flex-direction: column;
  height: 30px;
  width: 35px;
  background: transparent;
  cursor: pointer;
  padding: 3px;
  margin: 0;
  justify-content: space-evenly;
  box-sizing: border-box;
  outline: none;
}

.ToggleButton-btn:focus {
  outline: none;
  cursor: pointer;
}

.ToggleButton-toggle-btn-line {
  width: 25px;
  height: 4px;
  background: #ffffff;
  border-radius: 35px;
}

@media only screen and (max-width: 823px) {
  .ToggleButton {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

@media only screen and (min-width: 824px) {
  .ToggleButton {
    display: none;
  }
}
